<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }} | imglib</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% load static %}
        <link rel="icon" href="{% static 'favicon4.png' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'imgapp/top.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'imgapp/gallery.css' %}">
    </head>
    <body style="margin: 0;">
        <!-- Controls -->
        <div class="controls">
            {% if prev_url %} <a class="left-control" href="{{prev_url}}">&lt;</a> {% endif %}
            {% if up_url %} <a class="up-control" href="{{up_url}}">^</a> {% endif %}
            {% if next_url %} <a class="right-control" href="{{next_url}}">&gt;</a> {% endif %}
        </div>

        {% include 'imgapp/components/_dark_mode.html' %}

        <!-- Main -->
        <div class="content">
            <div class="title-box">
                <h1 id="title"> {{ title }} </h1>
                {% if subtitle %}<h2 id="subtitle"> {{ subtitle }} </h2>{% endif %}
            </div>
            {% for albimage in images %}
                <!-- Wide Image -->
                {% if albimage.image.wide %}
                    <div class="image-block">
                        <div class="image-container">
                            <img src="{{ albimage.image.image.url }}" alt="Image: [{{albimage.image}}]" style="max-width: 100%;"/>

                            {% comment %} Image Details {% endcomment %}
                            <div class="image-details" x-data="{ showDetails: false }"
                                :style="{ opacity: showDetails ? '0.7' : '' }">
                                <div class="image-details-metadata digital-display" x-show="showDetails"
                                    x-cloak @click="showDetails = false">
                                    {{ albimage.image.metadata.camera }}<br/>
                                    {{ albimage.image.metadata.lens | default:"--" }}<br/>
                                    {{ albimage.image.metadata.focallength | default:"???" }}mm<br/>
                                    f/{{ albimage.image.metadata.fnumber | default:"???" }}<br/>
                                    {{ albimage.image.metadata.shutterspeed_fraction | default:"?/??" }} s<br/>
                                    iso {{ albimage.image.metadata.iso | default:"???" }}
                                </div>
                                <div class="image-timestamp digital-display" x-bind:style="{ 'opacity': showDetails ? 'initial' : '' }">
                                    <span @click="showDetails = !showDetails" style="z-index: 2;">{{ image.timestamp_str }}</span>
                                    <span style="opacity: 0.2;"> 88  18  88  888  88:88</span>
                                </div>
                            </div>
                        </div>

                        <div class="caption">{{ albimage.caption | linebreaksbr }}</div>
                    </div>

                <!-- Tall Image -->
                {% else %}
                    <div class="image-block-tall">
                        <!-- Left Image -->
                        {% if albimage.image.left %}
                        <div class="image-row">
                            <img src="{{ albimage.image.image_normal.url }}" alt="Image: [{{albimage.image}}]"/>

                            {% comment %} Image Details {% endcomment %}
                            <div class="image-details image-details-left" x-data="{ showDetails: false }"
                                :style="{ opacity: showDetails ? '0.7' : '' }">
                                <div class="image-details-metadata digital-display" x-show="showDetails"
                                    x-cloak @click="showDetails = false">
                                    {{ albimage.image.metadata.camera }}<br/>
                                    {{ albimage.image.metadata.lens | default:"--" }}<br/>
                                    {{ albimage.image.metadata.focallength | default:"???" }}mm<br/>
                                    f/{{ albimage.image.metadata.fnumber | default:"???" }}<br/>
                                    {{ albimage.image.metadata.shutterspeed_fraction | default:"?/??" }} s<br/>
                                    iso {{ albimage.image.metadata.iso | default:"???" }}
                                </div>
                                <div class="image-timestamp digital-display" x-bind:style="{ 'opacity': showDetails ? 'initial' : '' }">
                                    <span @click="showDetails = !showDetails" style="z-index: 2;">{{ albimage.image.timestamp_str }}</span>
                                    <span style="opacity: 0.2;"> 88  18  88  888  88:88</span>
                                </div>
                            </div>

                            <div class="caption-tall caption-right">{{ albimage.caption | linebreaksbr }}</div>
                        </div>

                        <!-- Right Image -->
                        {% else %}
                        <div class="image-row">
                            {% comment %} <p class="image-tall-caption">{{image|linebreaksbr}}</p> {% endcomment %}
                            <div class="caption-tall">{{ albimage.caption | linebreaksbr }}</div>

                            <img src="{{ albimage.image.image_normal.url }}" alt="Image: [{{albimage.image}}]"/>

                            {% comment %} Image Details {% endcomment %}
                            <div class="image-details image-details-right" x-data="{ showDetails: false }"
                                :style="{ opacity: showDetails ? '0.7' : '' }">
                                <div class="image-details-metadata digital-display" x-show="showDetails"
                                    x-cloak @click="showDetails = false">
                                    {{ albimage.image.metadata.camera }}<br/>
                                    {{ albimage.image.metadata.lens | default:"--" }}<br/>
                                    {{ albimage.image.metadata.focallength | default:"???" }}mm<br/>
                                    f/{{ albimage.image.metadata.fnumber | default:"???" }}<br/>
                                    {{ albimage.image.metadata.shutterspeed_fraction | default:"?/??" }} s<br/>
                                    iso {{ albimage.image.metadata.iso | default:"???" }}
                                </div>
                                <div class="image-timestamp digital-display" x-bind:style="{ 'opacity': showDetails ? 'initial' : '' }">
                                    <span @click="showDetails = !showDetails" style="z-index: 2;">{{ albimage.image.timestamp_str }}</span>
                                    <span style="opacity: 0.2;"> 88  18  88  888  88:88</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </body>

</html>
