
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imglib/</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'imgapp/top.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'imgapp/home.css' %}">
</head>
<body>
    {% include 'imgapp/components/_dark_mode.html' %}

    <div class="title">
        <h1>imglib/</h1>
    </div>
    <div class="content">
        <a class="album-box" href="/year/2023">

            <img class="album-image"
                src="https://s3.us-west-2.amazonaws.com/img.dump/image/aa5844e8-ae93-4c06-9b9f-7deb189e6dc3_1080.jpg"
                alt="2023"/>

            <h2 class="album-title">2023/</h3>
        </a>
    </div>
</body>
</html>