<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ year }} | imglib</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% load static %}
    <link rel="icon" href="{% static 'favicon2.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'imgapp/top.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'imgapp/year.css' %}">
    </head>
    <body>
        {% include 'imgapp/components/_dark_mode.html' %}

        <div class="title">
            <a href="/" class="hovertext">{{ year }}/</a>
        </div>
        <div class="months-container">
        {% if months %}
            {% for month_num, month in months.items %}
            <div class="month-box"
                {% if month.has_days %}
                    onclick="window.location.assign('/month/{{year}}/{{month_num}}')"
                    style="cursor: pointer;">
                    <h2>{{ month.name }}/</h2>
                {% else %}
                >
                {% endif %}
                <div class="calendar-container">
                    {% comment %} Blank days at the beginning {% endcomment %}
                    {% for i in month.fill_days %}
                        <div class="square-tile fill-day">
                        </div>
                    {% endfor %}
                    {% for day in month.days_set %}
                        {% comment %} Actual day {% endcomment %}
                        {% if day %}
                            <div class="square-tile">
                                <a class="day-tile">
                                    <img class="image-block"
                                    src="{{ day.top_image.image_thumbnail.url }}"
                                    alt="">
                                </a>
                            </div>
                        {% else %}
                        {% comment %} Blank day {% endcomment %}
                            <div class="square-tile empty-square">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No images for this year</p>
        {% endif %}
        </div>
    </body>
</html>